<div class="mobile-content-container container-fluid">
    <div class="tariffs-row row">
        <div class="tariffs-ul-container col-xl-4 col-md-12 col-sm-12 shadow">
            <ul>
                <h3 class="tariffs-title">ტარიფები</h3>
                <li><a href="#">კოქტეილი</a></li>
                <li><a href="#">ინტერნეტი</a></li>
                <li><a href="#">ინტერნეტი როუმინგში</a></li>
                <li><a href="#">წუთები</a></li>
                <li><a href="#">SMS</a></li>
                <li><a href="#">MMS</a></li>
            </ul>
        </div>
        <div class="tariffs-img col-xl-8 col-md-12 col-sm-12 shadow"></div>
    </div>
    <div class="tariffs-row row">
        <div class="tariffs-img col-xl-8 col-md-12 col-sm-12 shadow"></div>

        <div class="tariffs-ul-container col-xl-4 col-md-12 col-sm-12 shadow">
            <ul>
                <h3 class="tariffs-title">სერვისები</h3>
                <li><a href="#">როუმინგი</a></li>
                <li><a href="#">თანხის გადარიცხვა</a></li>
                <li><a href="#">მონო კრედიტი</a></li>
                <li><a href="#">eSim</a></li>
                <li><a href="#">სტატისტიკა და დეტალური</a></li>
                <li><a href="#">ონლაინ შეკვეთა</a></li>
                <h3 class="tariffs-title"><a href="#" class="tariffs-title">იხილეთ ყველა</a></h3>
            </ul>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-xl-12 bg-light">
            <div class="card mb-3 border-0 p-3 p-5 bg-light">
                <div class="row g-0">
                <div class="col-md-4">
                    <img src="../assets/pictures/mobile.jpg" class="img-fluid rounded-start mt-3 mb-3 rounded" alt="Magticom">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                    <h5 class="package-card-title card-title">შეარჩიე სასურველი ინტერნეტ პაკეტი</h5>
                    <p class="package-card-description card-text">უსწრაფესი 4.5G ინტერნეტი მაგთის ხარისხით და საუკეთესო დაფარვით</p>

                    <div class="btn-group dropend">
                        <button type="button" class="details-btn btn btn-danger bg-transparent text-danger fw-bold">
                        გადადი ბმულზე
                        </button>
                        <button type="button" class="right-arrow-btn btn btn-danger px-3 dropdown-toggle dropdown-toggle-split bg-transparent text-danger" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="visually-hidden">Toggle Dropright</span>
                        </button>
                    </div>
                    
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>