<div class="popular-container container-fluid">
    <div class="row">

        <div class="col-lg-4 col-md-12 col-sm-12">
            <img src="../../assets/pictures/mymagti.jpg" alt="Magticom">
        </div>
        <div class="mobile-title-column col-lg-8 col-md-12 col-sm-12">
            <h2 class="mobile-title">MyMagti - მაგთის ოფისი შენს სმარტფონში!</h2>
            <p class="mobile-description mt-3">ნებისმიერ დროს, ნებისმიერი ადგილიდან, მომსახურების მიღების უმარტივესი გზა:</p>

            <p class="mobile-description mt-3">აირჩიე, ან შექმენი შენი კოქტეილი; შეავსე ანგარიში; შეამოწმე ბალანსი; ჩართე სერვისები/პაკეტები; დაამატე TV არხები; გაზარდე ინტერნეტსიჩქარე; შეცვალე WiFi პაროლი და სხვა.</p>

            <a href="#"><img src="../../assets/pictures/app-store.webp" alt=""></a>
            <a href="#"><img src="../../assets/pictures/play-store.webp" alt=""></a>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4 col-md-12 col-sm-12">
            <img src="../../assets/pictures/online-paument.gif" alt="Magticom">
        </div>

        <div class="online-payment-description col-lg-8 col-md-12 col-sm-12">
            <h1>ონლაინ გადახდა</h1>
            <p class="firstP">ბალანსის შევსების მარტივი და კომფორტული გზა</p>
            <p class="secondP">გადახდა შესაძლებელია ნებისმიერი საბანკო ბარათით</p>
            <a class="secondP text-decoration-none" href="#">დეტალურად</a>
        </div>
    </div>



    <div class="row">
        <div class="e-sim col-lg-10 col-md-12 col-sm-12">
            <h1>eSIM</h1>
            <p class="firstP">უახლესი ტექნოლოგია პირველად საქართველოში!</p>
            <p class="secondP">eSIM (Embedded SIM) - მოწყობილობაში ჩაშენებული სპეციალური მიკროჩიპი კლასიკური SIM ბარათის ფუნქციას ასრულებს. eSIM -ის გააქტიურება შესაძლებელია ჩვეულებრივ სიმ ბარათთან ერთად და ორი ნომრით ერთდროულად სარგებლობა</p>
            <a class="secondP text-decoration-none" href="#">დეტალურად</a>
        </div>

        <div class="e-sim-img col-lg-2 col-md-12 col-sm-12">
            <img src="../../assets/pictures/esim.jpg" alt="Magticom">
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4 col-md-12 col-sm-12">
            <img src="../../assets/pictures/mobile-phones.jpg" alt="Magticom">
        </div>

        <div class="online-payment-description col-lg-8 col-md-12 col-sm-12">
            <h1>სმარტფონები და მოდემები</h1>
            <p class="firstP">ბალანსის შევსების მარტივი და კომფორტული გზა</p>
            <p class="secondP">შეიძინე უახლესი მოდელები და მიიღე მაგთის მობილური ინტერნეტი საჩუქრად!</p>
            <a class="secondP text-decoration-none" href="#">დეტალურად</a>
        </div>
    </div>



</div>