<div class="container-fluid">

        <!-- მთავარი მენიუ -->
        <div class="row">
            <nav class="navbar navbar-expand-lg navbar-light bg-white">
                    <div class="container-fluid">
        
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button>
                        <a class="navbar-brand" href="#"><img class="logo" src="../assets/pictures/magticom-logo.png" alt="Magticom"></a>
        
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0 px-3">
                                <!-- მობილური -->
                                <li class="nav-item dropdown px-3">
                                    <a class="nav-link fw-bold" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    მობილური
                                    </a>
                                    <ul class="dropdown-menu border-0" aria-labelledby="navbarDropdown">
                                        <div class="container">
                                            <div class="row">
                                                    <div class="col-lg-3">
                                                        <li><a class="dropdownHeader dropdown-item" href="#">ტარიფები</a></li>
                                                        <li><a class="dropdown-item" href="#">კოქტეილი</a></li>
                                                        <li><a class="dropdown-item" href="#">ინტერნეტი</a></li>
                                                        <li><a class="dropdown-item" href="#">ინტერნეტი როუმინგში</a></li>
                                                        <li><a class="dropdown-item" href="#">წუთები</a></li>
                                                        <li><a class="dropdown-item" href="#">SMS/MMS</a></li>
                                                        <li><a class="dropdown-item" href="#">სხვა ტარიფები</a></li>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <li><a class="dropdownHeader dropdown-item" href="#">სერვისები</a></li>
                                                        <li><a class="dropdown-item" href="#">როუმინგი</a></li>
                                                        <li><a class="dropdown-item" href="#">თანხის გადარიცხვა</a></li>
                                                        <li><a class="dropdown-item" href="#">მონო კრედიტი</a></li>
                                                        <li><a class="dropdown-item" href="#">სმარტფონები და მოდემები</a></li>
                                                        <li><a class="dropdown-item" href="#">სტატისტიკა და დეტალური</a></li>
                                                        <li><a class="dropdown-item" href="#">ონლაინ შეკვეთა</a></li>
                                                        <li><a class="dropdown-item" href="#">სხვა სერვისები</a></li>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="card mb-3 border-0 bg-light p-3">
                                                            <div class="row g-0">
                                                            <div class="col-md-4">
                                                                <img src="../assets/pictures/mobile.jpg" class="img-fluid rounded-start mt-3 mb-3 rounded" alt="...">
                                                            </div>
                                                            <div class="col-md-8">
                                                                <div class="card-body">
                                                                <h5 class="package-card-title card-title">შეარჩიე სასურველი ინტერნეტ პაკეტი</h5>
                                                                <p class="package-card-description card-text">უსწრაფესი 4.5G ინტერნეტი მაგთის ხარისხით და საუკეთესო დაფარვით</p>
                                                                <a href="#" class="package-buttton link-secondary text-decoration-none">
                                                                    გადადი ბმულზე
                                                                    <i class="bi bi-arrow-right"></i>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                            </div>
                                        </div>
                                    </ul>
                                </li>
        
                                <!-- ინტერნეტი -->
                                <li class="nav-item dropdown px-3">
                                    <a class="nav-link fw-bold" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    ინტერნეტი
                                    </a>
                                    <ul class="dropdown-menu border-0" aria-labelledby="navbarDropdown">
                                        <div class="container">
                                            <div class="row">
                                                    <div class="col-lg-3">
                                                        <li><a class="dropdownHeader dropdown-item" href="#">ტარიფები</a></li>
                                                        <li><a class="dropdown-item" href="#">სტანდარტული პაკეტები</a></li>
                                                        <li><a class="dropdown-item" href="#">ინტერნეტი+ტელევიზია</a></li>
                                                        <li><a class="dropdown-item" href="#">ჩემები</a></li>
                                                        <li><a class="dropdown-item" href="#">უფრო სწრაფი ინტერნეტი</a></li>
                                                        <li><a class="dropdown-item" href="#">პაკეტი "მარტივი 10"</a></li>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <li><a class="dropdownHeader dropdown-item" href="#">სერვისები</a></li>
                                                        <li><a class="dropdown-item" href="#">როგორ ჩავერთო?</a></li>
                                                        <li><a class="dropdown-item" href="#">კრედიტი</a></li>
                                                        <li><a class="dropdown-item" href="#">ბუსტ ღილაკი</a></li>
                                                        <li><a class="dropdown-item" href="#">მაგთი ქარდი</a></li>
                                                        <li><a class="dropdown-item" href="#">დროებითი შეჩერება</a></li>
                                                        <li><a class="dropdown-item" href="#">სხვა სერვისები</a></li>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="card mb-3 border-0 bg-light p-3">
                                                            <div class="row g-0">
                                                            <div class="col-md-4">
                                                                <img src="../assets/pictures/internet.jpg" class="img-fluid rounded-start mt-3 mb-3 rounded" alt="...">
                                                            </div>
                                                            <div class="col-md-8">
                                                                <div class="card-body">
                                                                <h5 class="package-card-title card-title">ინტერნეტი + ტელევიზია</h5>
                                                                <p class="package-card-description card-text">აირჩიე ინტერნეტისა და ტელევიზიის შენზე მორგებული საუკეთესო კომბინაცია</p>
                                                                <a href="#" class="package-buttton link-secondary text-decoration-none">
                                                                    გადადი ბმულზე
                                                                    <i class="bi bi-arrow-right"></i>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                            </div>
                                        </div>
                                    </ul>
                                </li>
        
                                <!-- ტელევიზია -->
                                <li class="nav-item dropdown px-3">
                                    <a class="nav-link fw-bold" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    ტელევიზია
                                    </a>
                                    <ul class="dropdown-menu border-0" aria-labelledby="navbarDropdown">
                                        <div class="container">
                                            <div class="row">
                                                    <div class="col-lg-4">
                                                        <li><a class="dropdownHeader dropdown-item" href="#">IP ტელევიზია</a></li>
                                                        <li><a class="dropdown-item" href="#">სტანდარტული პაკეტები</a></li>
                                                        <li><a class="dropdown-item" href="#">დმატებითი პაკეტებია</a></li>
                                                        <li><a class="dropdown-item" href="#">ტელევიზია + ინტერნეტი</a></li>
                                                        <li><a class="dropdown-item" href="#">დაიმატე მეორე ტელევიზია</a></li>
                                                        <li><a class="dropdown-item" href="#">დამატებითი TV პაკეტი</a></li>
                                                        <li><a class="dropdown-item" href="#">სხვა ტარიფები</a></li>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <li><a class="dropdownHeader dropdown-item" href="#">სერვისები</a></li>
                                                        <li><a class="dropdown-item" href="#">TV პროგრამა</a></li>
                                                        <li><a class="dropdown-item" href="#">კრედიტები</a></li>
                                                        <li><a class="dropdown-item" href="#">დროებითი შეჩერება</a></li>
                                                        <li><a class="dropdown-item" href="#">IPTV-ის აპლიკაციები</a></li>
                                                        <li><a class="dropdown-item" href="#">ბუსტ ღილაკი</a></li>
                                                        <li><a class="dropdown-item" href="#">დისტანციური მართვის პულტი</a></li>
                                                        <li><a class="dropdown-item" href="#">სხვა სერვისები</a></li>
                                                    </div>
        
                                                    <div class="col-lg-4">
                                                        <ul class="bg-light p-4">
                                                            <li><a class="dropdownHeader dropdown-item" href="#">სატელიტური ტელევიზია</a></li>
                                                            <li><a class="dropdown-item" href="#">როგორ ჩავერთო?</a></li>
                                                            <li><a class="dropdown-item" href="#">პაკეტები</a></li>
                                                            <li><a class="dropdown-item" href="#">დამატებითი პაკეტები</a></li>
                                                            <li><a class="dropdown-item" href="#">ტარიფები</a></li>
                                                        </ul>
                                                    </div>
                                            </div>
                                        </div>
                                    </ul>
                                </li>
        
                                <!-- სახლის ტელეფონი -->
                                <li class="nav-item dropdown px-3">
                                    <a class="nav-link fw-bold" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    სახლის ტელეფონი
                                    </a>
                                    <ul class="dropdown-menu border-0" aria-labelledby="navbarDropdown">
                                        <div class="container">
                                            <div class="row">
        
                                                <div class="col-lg-6">
                                                    <ul class="bg-light p-4">
                                                        <li><a class="dropdownHeader dropdown-item" href="#">სადენიანი ტელეფონი</a></li>
                                                        <li><a class="dropdown-item" href="#">პაკეტები და სატარიფო გეგმები</a></li>
                                                        <li><a class="dropdown-item" href="#">სტანდარტული ტარიფები</a></li>
                                                        <li><a class="dropdown-item" href="#">საერთაშორისო ზარები</a></li>
                                                        <li><a class="dropdown-item" href="#">ჩართვის პირობები</a></li>
                                                        <li><a class="dropdown-item" href="#">დარეკვის წესი</a></li>
                                                    </ul>
                                                </div>
        
                                                <div class="col-lg-6">
                                                    <li><a class="dropdownHeader dropdown-item" href="#">უსადენო ტელეფონი</a></li>
                                                    <li><a class="dropdown-item" href="#">მაგთი ფიქსის სერვისი</a></li>
                                                    <li><a class="dropdown-item" href="#">ტარიფები</a></li>
                                                    <li><a class="dropdown-item" href="#">სერვისები</a></li>
                                                </div>
        
                                            </div>
                                        </div>
                                    </ul>
                                </li>
                            </ul>
                            
                            <input type="text" name="search" id="search" [hidden]="hidden">
                            <button class="border-0 bg-transparent" (click)="showInput()"><i class="bi bi-search"></i></button>
                            <li class="mymagti ms-3"><a class="text-dark" href="#">MYMAGTI</a></li>
                      </div>
        
                    </div>
            </nav>
        </div>

        <!-- კაროუსელი -->
        <div class="row">
            <app-carousel></app-carousel>
        </div>

        <!-- განცხადებები -->
        <div class="row">
            <app-statement></app-statement>
        </div>
        
        <!-- ახალი ამბები -->
        <div class="row">
            <app-news></app-news>
        </div>

        <!-- პოპულარული ამბები -->
        <div class="row">
            <app-popular></app-popular>
        </div>



        <!-- Footer -->
        <div class="footer-row row">

            <div class="row">
                <div class="footer-nav-col col-lg-3 col-md-6 col-sm-12">
                    <ul>
                        <li><a href="#" class="footer-nav-item-header">კომპანიის შესახებ</a></li>
    
                        <li class="mt-4"><a href="#" class="footer-nav-item-content">სიახლეები</a></li>
                        <li class="mt-3"><a href="#" class="footer-nav-item-content">განცხადებები</a></li>
                        <li class="mt-3"><a href="#" class="footer-nav-item-content">პრესრელისები</a></li>
                        <li class="mt-3"><a href="#" class="footer-nav-item-content">მედია</a></li>
                        <li class="mt-3"><a href="#" class="footer-nav-item-content">ჩვენი ჟურნალი</a></li>
                        <li class="mt-3"><a href="#" class="footer-nav-item-content">იურიდიული კლიენტები</a></li>
                        <li class="mt-3"><a href="#" class="footer-nav-item-content">კონკურსები</a></li>
                        <li class="mt-3"><a href="#" class="footer-nav-item-content">ვაკანსიები</a></li>
                        <li class="mt-3"><a href="#" class="footer-nav-item-content">კონტაქტი</a></li>
    

                    </ul>
                </div>
                
                <div class="footer-nav-col col-lg-3 col-md-6 col-sm-12">
                    <ul>
                        <li><a href="#" class="footer-nav-item-header">სასარგებლო ინფორმაცია</a></li>
    
                        <li class="mt-4"><a href="#" class="footer-nav-item-content">ოფისები</a></li>
                        <li class="mt-3"><a href="#" class="footer-nav-item-content">პირობები</a></li>
                        <li class="mt-3"><a href="#" class="footer-nav-item-content">დარეკვის წესები</a></li>
                        <li class="mt-3"><a href="#" class="footer-nav-item-content">შეჩერებული ტარიფები</a></li>
                        <li class="mt-3"><a href="#" class="footer-nav-item-content">ხელშეკრულებები</a></li>
                        <li class="mt-3"><a href="#" class="footer-nav-item-content">თაღლითობის კონტროლი</a></li>
                        <li class="mt-3"><a href="#" class="footer-nav-item-content">SIM Cards for tourists in Georgian airports</a></li>
                        <li class="mt-3"><a href="#" class="footer-nav-item-content">ინტერნეტ ფილტრი</a></li>
    
                        <!-- <li class="mt-5"><a href="#" class="footer-nav-item-content">კეთილსინდისიერი სარგებლობის წესები</a></li> -->
                    </ul>
                </div>
    
                <div class="footer-nav-col col-lg-3 col-md-6 col-sm-12">
                    <ul>
                        <li><a href="#" class="footer-nav-item-header">სერვისები</a></li>
    
                        <li class="mt-4"><a href="#" class="footer-nav-item-content">MAGTI TV PLAY</a></li>
                        <li class="mt-3"><a href="#" class="footer-nav-item-content">დომენი</a></li>
                        <li class="mt-3"><a href="#" class="footer-nav-item-content">ჰოსტინგი</a></li>
                        <li class="mt-3"><a href="#" class="footer-nav-item-content">საერთაშორისო კოდი 1010</a></li>
    
    
                        <!-- <li class="mt-5"><a href="#" class="footer-nav-item-content">კეთილსინდისიერი სარგებლობის წესები</a></li> -->
                    </ul>
                </div>
    
                <div class="footer-nav-col col-lg-3 col-md-6 col-sm-12">
    
                    <div class="footer-nav-item-content dropdown">
                        <i class="bi bi-translate text-white fs-5"></i>
                        <button class="text-white bg-transparent border rounded-pill py-2 px-3 text-center ms-3">ქართული - Georgian</button>
                        <ul class="dropdown-menu ms-4 border-0">
                          <li class="footer-nav-item-content"><a class="dropdown-item" href="#">ინგლისური - English</a></li>
                          <li class="footer-nav-item-content"><a class="dropdown-item" href="#">რუსული - РУССКИЙ</a></li>
                        </ul>
                    </div>
    
                    <li class="mt-4 footer-nav-item-content">ცხელი ხაზი</li>
                    <li class="footer-nav-item-content">
                        <a href="#" class="text-white fs-5">
                            1101
                        </a>
                        ან
                        <a href="#" class="text-white fs-5">
                            +995 32 217 00 00
                        </a>
                    </li>
    
                    <li class="mt-4 footer-nav-item-content">
                        <a href="#"><img style="width: 108px; height: 36px;" src="../assets/pictures/app-store.webp" alt="Magticom"></a>
                        <a href="#"><img style="width: 121px; height: 38px;" src="../assets/pictures/play-store.webp" alt="Magticom"></a>
                    </li>
    
                    <div class="socmedia mt-4">
                        <a class="text-secondary" href="#"><i class="bi bi-facebook"></i></a>
                        <a class="ms-4 text-secondary" href="#"><i class="bi bi-twitter"></i></a>
                        <a class="ms-4 text-secondary" href="#"><i class="bi bi-instagram"></i></a>
                        <a class="ms-4 text-secondary" href="#"><i class="bi bi-youtube"></i></a>
                    </div>

            </div>

        </div>

        <div class="row">
            <div class="footer-nav-col col-lg-3 col-md-6 col-sm-12">
                <li><a href="#" class="footer-nav-item-content">კონფიდენციალურობის პოლიტიკა</a></li>
            </div>

            <div class="footer-nav-col col-lg-3 col-md-6 col-sm-12">
                <li><a href="#" class="footer-nav-item-content">კეთილსინდისიერი სარგებლობის წესები</a></li>
            </div>

            <div class="footer-nav-col col-lg-3 col-md-6 col-sm-12">
                <li><a href="#" class="footer-nav-item-content">პორტალით სარგებლობის წესები</a></li>
            </div>

            <div class="footer-nav-col col-lg-3 col-md-6 col-sm-12">
                <li class="footer-nav-item-content">© 2021 მაგთიკომი</li>
            </div>
        </div>



        </div>



<router-outlet></router-outlet>