<div class="mobile-content-container container-fluid">
    <div class="tariffs-row row">
        <div class="tariffs-ul-container col-xl-4 col-md-12 col-sm-12 shadow">
            <ul>
                <h3 class="tariffs-title">სადენიანი ტელეფონი</h3>
                <li><a href="#">პაკეტები და სატარიფო გეგმები</a></li>
                <li><a href="#">საერთაშორისო ზარები</a></li>
                <li><a href="#">ჩართვის პირობები</a></li>
                <li><a href="#">დარეკვის წესი</a></li>
                <li><a href="#">სტანდარტული ტარიფები</a></li>
            </ul>
        </div>
        <div class="tariffs-img col-xl-8 col-md-12 col-sm-12 shadow"></div>
    </div>
    <div class="tariffs-row row">
        <div class="tariffs-img col-xl-8 col-md-12 col-sm-12 shadow"></div>

        <div class="tariffs-ul-container col-xl-4 col-md-12 col-sm-12 shadow">
            <ul>
                <h3 class="tariffs-title">უსადენო ტელეფონი</h3>
                <li><a href="#">მაგთი ფიქსის სერვისი</a></li>
                <li><a href="#">ტარიფები</a></li>
                <li><a href="#">სერვისები</a></li>
            </ul>
        </div>
    </div>

</div>