.mobile-content-container .tariffs-row:nth-child(1)
{
    background-image: url(../../../assets/pictures/fixed-phone-wired.jpg);
    background-repeat: no-repeat;
    background-position: 100% top;
}

.mobile-content-container .tariffs-row:nth-child(2)
{
    background-image: url(../../../assets/pictures/fixed-phone-wireless.jpg);
    background-repeat: no-repeat;
    background-position: 10% center;
}

.tariffs-title
{
    font-size: 1.50rem;
    color: #485f71;
    font-weight: 700;
}

.tariffs-ul-container
{
    background-color: #fff;
}

.tariffs-ul-container ul
{
    margin: 40px 0;
}

.tariffs-ul-container ul li
{
    margin: 10px 0;
}

.tariffs-ul-container ul li a
{
    font-size: 18px;
    color: #485f71;
    text-decoration: none;
    transition: .2s;
}

.tariffs-ul-container ul li a:hover
{
    color: red;
    transition: .2s;
}


.carousel-details
{
    color: #afbbbd !important;
}

.details-btn:hover
{
    background-color: #dc3545 !important;
    color: #fff !important;
}

.right-arrow-btn:hover
{
    background-color: #fa114b !important;
    color: #fff !important;
}


.package-card-title
{
    color: #485f71;
}


