<div class="container mt-5 bg-light shadow">
    
    <div class="row">
        <div class="d-flex justify-content-between bg-secondary">
            <p class="mt-2 fw-bold text-white">{{roamingArray.title}}</p>
            <a [routerLink]="['//navbar/mobile/tariffs/InternetRoamingComponent']"><i class="bi bi-x-square-fill fs-2 text-white"></i></a>
        </div>
    </div>


    <div class="package">
        <div class="info-row row mt-4">
            <div class="d-flex justify-content-between">
                <p>ინტერნეტი</p>
                <p>{{roamingArray.title}}</p>
            </div>
        </div>

        <div class="info-row text-secondary row mt-4">
            <div class="d-flex justify-content-between">
                <p>მოქმედების ვადა</p>
                <p>{{roamingArray.days}} დღე</p>
            </div>
        </div>
    
        <div class="info-row row">
            <div class="d-flex justify-content-between">
                <p>ფასი</p>
                <p>{{roamingArray.price}} ₾</p>
            </div>
            <hr>
        </div>
    
        <div class="row mt-4">
            <button type="button" class="purchase-btn btn btn-outline-danger d-block m-auto rounded-pill mb-3">შეძენა</button>
        </div>
    </div>



</div>


