/* You can add global styles to this file, and also import other style files */
@import '~swiper/swiper-bundle';
@font-face {
    font-family: alksanet;
    src: url(assets/fonts/alk-sanet-webfont.ttf);
}

@font-face {
    font-family: alksanet-rounded;
    src: url(assets/fonts/alk-rounded-nusx-med-webfont.ttf);
}
