<div class="container-fluid">


    <app-inner-small-nav></app-inner-small-nav>

    <div class="row text-center mt-4">
        <h4>კოქტეილი</h4>
        <div class="paging mt-5 text-center">
            <a class="me-2" style="cursor: pointer;" (click)="showStandatComponent()">სტანდარტული</a>
            <a class="me-2" style="cursor: pointer;" (click)="showCreateComponent()">შექმენი</a>
        </div>
    </div>


    <div class="bg-light mt-3" *ngIf="standartComponentIsVisible">
      <app-standart></app-standart>
    </div>

    <div class="bg-light mt-3" *ngIf="createComponentIsVisible">
      <app-create></app-create>
    </div>

</div>