.small-nav a
{
    font-size: 12px;
    color: #344552;
}

.small-nav hr
{
    opacity: .1;
}

.paging a
{
    font-size: 16px;
    transition: .2s;
    color:#29343d ;
}

.paging a:hover
{
    color: red !important;
    transition: .2s;
}